In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("movie_dataset.csv")
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [277]:
req = df[{'original_title','director','genres','cast'}]
features = ['original_title','director','genres','cast']

req

,genres,cast,director,original_title
0,Action Adventure Fantasy Science Fiction,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron,Avatar
1,Adventure Fantasy Action,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski,Pirates of the Caribbean: At World's End
2,Action Adventure Crime,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes,Spectre
3,Action Crime Drama Thriller,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan,The Dark Knight Rises
4,Action Adventure Science Fiction,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton,John Carter
...,...,...,...,...
4798,Action Crime Thriller,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,Robert Rodriguez,El Mariachi
4799,Comedy Romance,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,Edward Burns,Newlyweds
4800,Comedy Drama Romance TV Movie,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,Scott Smith,"Signed, Sealed, Delivered"
4801,,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,Daniel Hsia,Shanghai Calling
4802,Documentary,Drew Barrymore Brian Herzlinger Corey Feldman ...,Brian Herzlinger,My Date with Drew

In [285]:
# covert into single string
def combine_features(row):
    return row['director']+' '+row['cast']

In [286]:
# Preprocessing
for feature in features:
    df[feature] =df[feature].fillna('') 
    df['combine_features'] = df.apply(combine_features,axis=1)
df['combine_features']

0       James Cameron Sam Worthington Zoe Saldana Sigo...
1       Gore Verbinski Johnny Depp Orlando Bloom Keira...
2       Sam Mendes Daniel Craig Christoph Waltz L\u00e...
3       Christopher Nolan Christian Bale Michael Caine...
4       Andrew Stanton Taylor Kitsch Lynn Collins Sama...
                              ...
4798    Robert Rodriguez Carlos Gallardo Jaime de Hoyo...
4799    Edward Burns Edward Burns Kerry Bish\u00e9 Mar...
4800    Scott Smith Eric Mabius Kristin Booth Crystal ...
4801    Daniel Hsia Daniel Henney Eliza Coupe Bill Pax...
4802    Brian Herzlinger Drew Barrymore Brian Herzling...
Name: combine_features, Length: 4803, dtype: object

In [287]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
matrix = cv.fit_transform(df['combine_features'])

from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(matrix)

In [288]:
def get_title_from_index(index):
    return df[df.index == index]['original_title'].values[0]
def get_index_from_title(title):
    return df[df.title == title]['index'].values[0]

In [291]:
movie_user_likes = "The Dark Knight Rises"
movie_index = get_index_from_title(movie_user_likes)
similar_movies =  list(enumerate(cosine_sim[movie_index]))

sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]

movie_index

3

In [292]:
i=0
print("Top 5 similar movies to "+movie_user_likes+" are:\n")
for element in sorted_similar_movies:
    print(get_title_from_index(element[0]))
    i+=1
    if i>=10:
        break

Top 5 similar movies to The Dark Knight Rises are:

Batman Begins
The Dark Knight
Interstellar
The Prestige
Child 44
True Romance
Inception
The Other Side of Heaven
Public Enemies
Atlantis: The Lost Empire